Credentials.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="https://sericksonbob.github.io/CSE445-HW6XML" targetNamespace="https://sericksonbob.github.io/CSE445-HW6XML" elementFormDefault = "qualified" attributeFormDefault = "unqualified">

  <xsd:element name="Credentials" type= "CredentialsType"/>
    <xsd:complexType name = "CredentialsType">
      <xsd:sequence>
        <xsd:element name="User" type ="UserDetails" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="UserDetails">
      <xsd:sequence>
        <xsd:element name="Username" type="xsd:string" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="Password" type="xsd:string" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="SavedLocations" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
